<%= render @service %>

<div>
  <%= link_to "Editar este serviço", edit_service_path(@service) %> |
  <%= link_to "Voltar para serviços", services_path %>

  <%= button_to "Excluir este serviço", @service, method: :delete %>
</div>
