<h1>Editando equipmento</h1>

<%= render "form", equipment: @equipment %>

<br>

<div>
  <%= link_to "Mostrar este equipmento", @equipment %> |
  <%= link_to "Voltar para equipmentos", equipment_index_path %>
</div>
