<%= render @equipment %>

<div>
  <%= link_to "Editar este equipamento", edit_equipment_path(@equipment) %> |
  <%= link_to "Voltar para equipmentos", equipment_index_path %>

  <%= button_to "Excluir este equipamento", @equipment, method: :delete, class: "btn btn-danger"  %>
</div>
