<div id="<%= dom_id client %>">
  <p>
    <strong>Nome:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Divisão:</strong>
    <%= client.division %>
  </p>

  <p>
    <strong>Subdivisão:</strong>
    <%= client.subdivision %>
  </p>

</div>
