<h1>Editando solicitante</h1>

<%= render "form", client: @client %>

<br>

<div>
  <%= link_to "Mostrar este solicitante", @client %> |
  <%= link_to "Voltar para solicitantes", clients_path %>
</div>
