<%= render @section %>

<div>
  <%= link_to "Editar este setor", edit_section_path(@section) %> |
  <%= link_to "Voltar para setores", sections_path %>

  <%= button_to "Excluir este setor", @section, method: :delete %>
</div>
