<%= render @order_item %>

<div>
  <%= link_to "Editar este item de pedido", edit_order_item_path(@order_item) %> |
  <%= link_to "Voltar para itens de pedido", @order_item.order %>

  <%= button_to "Excluir este item de pedido", @order_item, method: :delete %>
</div>
